@import 'tailwindcss';
@plugin "daisyui" {
  themes:
    light --default,
    /* dark --prefersdark; */
  root: ':root';
  styled: true;
  base: true;
  utils: true;
  rtl: false;
  prefix: "";
  logs: true;
}

@utility btn{
  @apply rounded-lg;
}

:root{
  --color-primary: #c5e6ff;
  --color-primary-content: #001017;
  --color-secondary: #4ade80;
  --color-secondary-content: #052e16;
  --color-accent: #F78718;
  --color-accent-content: #FAFDFD;
  --color-base-100: #15457A;
  --color-base-200: #1A2B6D;
  --color-base-content: #FAFDFD;
  --color-info: #3b82f6;
  --color-warning: #f59e0b;
  --color-error: #ef4444;
  --color-success: #10b981;
  
  
}


*{
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

.bg-primary,
.bg-primary *{
  color: var(--color-primary-content);
}

.bg-accent,
.bg-accent *,
.btn-accent,
.btn-accent *{
  color: var(--color-accent-content);
}

